.App {
  text-align: center;
}
.App .displayBox {
  margin: 0 auto;
  max-width: 900px;
  border: 30px solid rgb(0, 128, 128);
  border-radius: 12px;
}

.App .ljf-link {
  text-decoration: none;
}
.App .ljf-logo {
  height: 48px;
  margin: 32px;
  border-radius: 8px;
}
.App h1 {
  color: #008080;
}
.App footer {
  margin: 30px 0;
}
