.Search {
  margin: 0 auto;
  padding: 24px;
  border: 5px solid #008080;
  border-radius: 12px;
  text-align: start;
}

.Search h3 {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.9;
}
.Search p {
  margin: 0;
}
.Search h5 {
  font-size: 18px;
  font-weight: 550;
  color: #008080;
}
.Search .categoryDisplay {
  color: #fa0053;
  font-weight: 600;
}
